In [ ]:
import pickle
import pandas as pd
from tensorflow.keras.models import load_model

In [37]:
#### Variables ####

from CONFIG import features, directories

# Directories
log_dir = directories["log_dir"]
model_dir = directories["model_dir"]

# Features
categorical_variables = features["categorical_variables"]
numerical_variables = features["numerical_variables"]
binary_variables =  features["binary_variables"]

In [38]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [39]:
# Loading pkl files and model
with open("one_hot_encoder.pkl", "rb") as f:
    one_hot_encoder = pickle.load(f)

with open("min_max_scaler.pkl", "rb") as f:
    min_max_scaler = pickle.load(f)

model = load_model(f"{model_dir}/model_1.keras")

c:\Users\hp\anaconda3\envs\tensorflow_env\Lib\site-packages\keras\src\saving\saving_lib.py:797: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 8 variables whereas the saved optimizer has 14 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [40]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [42]:
categorical_encoded = pd.DataFrame(one_hot_encoder.transform(input_df[categorical_variables]))
numerical_standardized = pd.DataFrame(min_max_scaler.transform(input_df[numerical_variables]))
preprocessed_df = pd.concat([input_df[binary_variables].reset_index(drop=True), categorical_encoded, numerical_standardized], axis=1)
preprocessed_df

,HasCrCard,IsActiveMember,0,1,2,3,4,0,1,2,3,4,5
0,1,1,1.0,0.0,0.0,0.0,1.0,0.5,0.314286,0.3,0.251691,0.333333,0.249966

In [44]:
model.predict(preprocessed_df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 85ms/step

array([[0.0280588]], dtype=float32)